<html>
	<head>
		<title>Scribe</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato|Fjalla+One"/>
		<link rel="stylesheet" href="/theme/css/global.css"/>
	</head>
	<body>
		<header>
			<aside>
			
			</aside>
			<nav>
				<h1 class="logo">
					Scribe
				</h1>
			</nav>
		</header>
		<main role="main">
			<%- body %>
		</main>
	</body>
</html>